@import "tailwindcss";

/* :root {
  --bg: #f8fafc;
  --card: #ffffff;
  --border: #e2e8f0;

  --primary: #2563eb;
  --secondary: #3b82f6;

  --text: #0f172a;
  --muted: #64748b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Inter, sans-serif;
} */